.A{
 background-color: rgb(144, 19, 169);
}
.A2{
 background-color: rgb(255, 0, 0);
}
.A3{
 background-color: rgb(255, 115, 0);
}
.A4{
 background-color: rgb(255, 208, 0);
}
.A5{
 background-color: rgb(41, 67, 67);
}