


<div >
  <p>
      <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
  </p>
  <mat-card>
    <mat-card-content>
      <mat-slide-toggle (click)="btnnn()">Slide me!</mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>



<div [ngClass]="isDarkTheme? 'dark-mode ' : 'light-mode'" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt vero labore sunt, iure, eum cumque, nesciunt officiis deleniti quis corporis at nam esse voluptatibus. Ullam nihil voluptatum, porro quod ipsam accusamus ea molestiae eum delectus. Facere fugiat numquam ullam nihil aut cupiditate non architecto minus laborum praesentium perferendis cum quam doloribus voluptate commodi magni, cumque necessitatibus ad tempora facilis esse magnam ratione dolores! Impedit obcaecati consequuntur magni architecto veniam deserunt iure. Necessitatibus mollitia deleniti modi doloremque voluptatibus quibusdam, beatae id.
</div>












<router-outlet></router-outlet>
